<div class="row">
    <img class="pagin" src="../../../assets/imagenes/vacunas3.jpg" alt="">
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
    <div class="titulo col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <p>UNITED VETS</p>
        <p>Cuidamos a los que más amas.</p>
     
    </div>
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>


</div>

<div class="row text-white bg-dark ">
    <div class="margen">
        <p>Si  no tienes cuenta solicitala con tu veterinario.</p>
    </div>
</div>