
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 row">
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 "></div>
    <a href="https://www.linkedin.com/in/tania-morales-negrete-3642561b9/"> <i class="fab fa-2x fa-linkedin"></i>   Tania</a>
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 "></div>
    <a href="https://www.linkedin.com/in/tpaol-muresan-3642561b9/"> <i class="fab fa-2x fa-linkedin"></i>   Paul</a>
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 "></div>
    <a href="https://www.linkedin.com/in/laura-irina-huaycama-mendoza-403407135/"> <i class="fab fa-2x fa-linkedin"></i>   Laura</a>
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 "></div>
    <a href="https://www.linkedin.com/in/daniel-vera-montelongo-2869a51ba/"> <i class="fab fa-2x fa-linkedin"></i>   Dani</a>
  </div>
  <!-- Copyright -->

